

<!--

<div>


<ol>
<li *ngFor="let f of fruits">{{f.nom}}<img src={{f.img}}/></li>
</ol>

</div>


<h1 (click)="fd()">Clique sue ce titre</h1>
<div *ngIf="valeur">mad div</div>
{{"Bonjour"+"le monde"}}
<br/>
<div [ngStyle]=monStyle>
NOM:{{pers.nom}}
<br/>
prenom:{{pers.prenom}}
<br/>
age:{{pers.age}}
</div>





<div class="container">
<div class="row">
<div class="col-sm-6" (mouseover)="fc()">Col 1</div>
<div class="col-sm-6" *ngIf="val ">Col 2</div>
</div>
</div>
y

<router-outlet></router-outlet>
-->

<router-outlet></router-outlet>
